@tailwind base;
@tailwind components;
@tailwind utilities;

/* #app{
    min-height: 700px;
} */

::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
}
::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    /*background: red;*/
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #dfdfdf;
    border-radius: 5px;
    /*outline: 1px solid slategrey;*/
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}